<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DigitalHouse movies</title>
	</head>
	<body>
		<a href="/movies">
			<figure>
				<img src="/img/logo-DH.png" alt="Logo Digital House" />
			</figure>
		</a>
		<nav>
			<div class="option">
				<a href="/movies"> Listado de Películas </a>
			</div>
			<div class="option">
				<a href="/genres"> Listado de Generos </a>
			</div>
			<div class="option">
				<a href="/movies/create"> Crear pelicula </a>
			</div>
		</nav>
	</body>
</html>
